*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(9, 0, 77, 0.55), rgba(9, 0, 77, 0.75)),url("images/pexels-august-de-richelieu-4262170.jpg");
    background-position: center;
    background-size: cover;
}
.container header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}
.container header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container header .logo img{
    width: 160px;
    cursor: pointer;
}
.container header ul{
    list-style: none;
    display: flex;
    margin-top: 20px;
}
.container header ul li{
    margin-right: 20px;
}
.container header ul li a{
    text-decoration: none;
    color: #e0e0e0;
    font-size: 18px;
}
.container header ul li a:hover{
    color: #570c0c;
    transition: all ease-in 0.5s;
    border-bottom: 1px solid #e0e0e0;
}
.container header .btn{
    width: 190px;
    height: 45px;
    padding: 10px 30px;
    border-radius: 30px;
    outline: none;
    background-color: #e0e0e0;
    border: 2px solid  rgba(51, 0, 0, 0.461);
    box-shadow: 2px 2px 10px rgb(255, 255, 255, 0.3);
}
.container header .btn[placeholder]{
    font-size: 16px;
    letter-spacing: .1rem;
}
.container .center-right{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15%;
    color: #e0e0e0;
}
.container .center-right h1{
    font-size: 4.5rem;
}
.container .center-right p{
    margin-top: 20px;
    font-size: 16px;
}
.container .center-right .nbtn{
    padding: 10px 50px;
    margin-top: 20px;
    font-size: 30px;
    background-color: rgba(147, 0, 0, 0.642);
    outline: none;
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 30px;
    color: #ffffffff;
    cursor: pointer;
    font-weight: 600;
}
.container .center-right .nbtn:hover{
    box-shadow: 10px 10px 30px rgb(12, 0, 0, .5);
    transition: all ease-in 0.8s;
}

.our-items{
    margin: 0;
}
.our-items .right-5{
    text-align: center;
    padding: 50px;
}
.our-items .right-5 p{
    width: 950px;
    margin-top: 25px;
}
.our-items .right-5 h1{
    font-size: 3rem;
}
.our-items .right-5 hr{
    width: 130px;
    margin-left: 43.09%;
}
.our-items .items{
    width: 95%;
    height: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 90px auto;
    padding-bottom: 80px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, .1);
}
.our-items .items .item{
    width: 400px;
    height: 490px;
    margin: 30px;
    justify-content: center;
    border-radius: 6px;
}
.our-items .items .item:hover{
    box-shadow: 2px 2px 30px rgba(0, 0, 0, .2);
    transition: all ease-in .5s;
}
.our-items .items .item h2{
    margin-top: 20px;
    margin-left: 10px;
}
.our-items .items .item p{
    margin-top: 20px;
    width: 380px;
    margin-left: 10px;
    text-align: justify;
}
.our-items .items .item img{
    width: 400px;
    height: 250px;
}
.our-items .items .item .btn-2{
    padding: 10px 40px;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-left: 35%;
    margin-top: 23px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    background-color: rgba(83, 0, 0, .85);
    display: none;
    cursor: pointer;
}
.our-items .items .item .btn-2 a{
    text-decoration: none;
    color: #fff;
}
.our-items .items .item:hover .btn-2{
    display: block;
    transition: all ease-in .5s;
    display: flex;
}




@media (max-width: 375px){
    .container{
        width: 5%;
        margin: 0;
        padding: 0;
        background-position: center;
        background-size: cover;
        width: ;
    }
    .container header{
        width: 80%;
        margin-right: 690px;
        padding: 0px;
    }
    .container header .logo img{
        width: 80px;
        
    }
}